.hover-img:hover {
    transition: all linear 0.2s;
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05); 
    transform: scale(1.05);
}
.btn-hover:hover {
    opacity: 0.8;
}
.shadow-outline {
    box-shadow: 0 0 3px 3px rgba(66, 93, 245,0.5);
    border-radius: 16px;
}

body {
    background-image: linear-gradient(to right, #542603,  #05436a );
    color: #fff;
}
.heading {
    font-size: 36px;
    background: -webkit-linear-gradient(orange, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.navigation {
    font-size: 16px;
}
.contact {
    padding: 12px 24px;
    margin-right: 5px;
    border-radius: 5px;
    background-color: #0dcaf0;
}

.dropdown-link {
    background-color: rgba(0, 0, 0,0.8);
}

@media (min-width: 768px) { 
    .heading {
        font-size: 72px;
    }
    .navigation {
        font-size: 24px;
    }
}
